*
!include/
!driver/
!kernel/
!block/
!docs/
!lib/
!fs/
!mm/
!include/**
!driver/**
!kernel/**
!block/**
!docs/**
!lib/**
!fs/**
!mm/**
!Makefile
!mkdisk.sh
!.clang-format
!.editorconfig
!.gdbinit
!.gitignore
